/***********************\
    Mixins
\***********************/
clearfix()
	&:before, &:after
		clear both
		content ''
		display table

vertical-align()
	position relative
	top 50%
	transform translateY(-50%)
